@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: montserrat;
 }

header{
  width: 100%;
  height: 135px;
  /* background-color: #2b2f3a; */
  position: relative;
  z-index: 100; /* 메뉴가 맨위로 올라오게 함 */
}

nav{
  width: 1200px;
  height: inherit;
  margin: auto;
  justify-content: center;
  text-align: center;
  /* border: 1px solid red; */
}

.inner {
  width: 1500px;
  margin: 0 auto;
}

.padding{
  padding: 10px;
}

/* ★★ Main Menu - 제이쿼리(2 메뉴 - menu7.풀다운메뉴 적용) ★ */
nav h1{  /* logo */
  font-size: 35px;
  font-weight: bold;
  color: #212121;
  line-height:80px;
/*   border: 1px solid purple; */
}

/* Main Menu */
.gnb{
  display: flex;
  border-bottom: 1px solid #cacaca;
  /* border: 1px solid yellow; */
}

.gnb>.main{
  width: 150px;
  margin: auto;
  /* border: 1px solid blue; */
}

.gnb>.main>a{
  position: relative;
  display: block;
  width: inherit;
  height: 50px;
  color: #363636;
  font-size: 20px;
  font-weight: 450;
  line-height: 50px;
  /* border: 1px solid purple; */
}

.gnb>.main:hover>a{color: #048aff;}

/* Sub Menu */
.sub{
  display: none;
  position: absolute;
  top: 100%;
  z-index: 200;
  /* padding-top: 10px; */
  width: 150px;
  height: 220px;
  /* border-left:solid 1px #cacaca; */
  
}
.sub li{
  width: inherit;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.35s;
}
.sub li a{
  color: #000;
  font-size: 15px;
  font-weight: 800;
}
.sub li:hover a{
  color: #048aff;;
  font-weight: 800;
}

/*100%서브배경박스*/
.sub_bgbox{ 
  display:none;
  position: absolute;
  top: 100%;
  left: 0;
	width:100%;
	height:180px; 
 	background: #fff;
  z-index: 100;

}

/* ★★ visual 3-메인비주얼 fade3적용 ★★*/

.fadeShow{
  /* position:fixed;   */
 	width:100%;
	height:100vh;
	margin:auto;
  top:160px;
	left:0;
  }
/*(1)이미지 모두 동일한 위치,안보이게 함*/ 
.changeimg ul li{ 
	opacity:0;  
	position:absolute;
	top:160px;
	left:0;
  width: 100%;
  height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transform:scale(0.8);
  transition:all 1.5s;
}
.changeimg ul li.imgVisible{   /*->jQuery 에서 불러냄*/
  opacity:1;
  z-index:50; 
  transform:scale(1);
}

.changeimg ul li:nth-child(1){background-image:url(../image/dentist_01.png);}
.changeimg ul li:nth-child(2){background-image:url(../image/dentist_02.png);}
.changeimg ul li:nth-child(3){background-image:url(../image/dentist_03.png);}

/*좌우버튼*/
.icon{
  font-size: 100px;
  color: #fff;
}
.side_btn .lbtn{
  position: absolute;
  top: 500%;
  z-index: 2000;
  transform: translateY(-50%);
  left: 30px;
  width: 65px;
  height: 65px;
}
.side_btn .lbtn:hover{opacity: 0.5;}

.side_btn .rbtn{
  position: absolute;
  top: 500%;
  transform: translateY(-50%);
  right: 30px;
  width: 65px;
  height: 65px;
  z-index: 2000;
}
.side_btn .rbtn:hover{opacity: 0.5;}

/*비주얼 텍스트 공통*/
.des{  /*시작위치의 텍스트->Y축으로 20% 지점*/
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-10%);
  color: #fff;
  text-align: center;
  opacity: 0;
  transition:all 1s;
}
.des.textVisible{ /*->jQuery 에서 불러냄*/
  opacity: 1;
  transform: translate(-50%,-50%);
}

.des h3{
  font-size: 52px;
  text-shadow:0 0 10px #000;
  font-family: 'Nanum Myeongjo', serif;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 20px;
}
.des p{
  font-size: 17px;
  line-height: 30px;
}
.des p:nth-of-type(3){
  width:150px;
  height:42px;
  background:rgba(0,0,0,0.3);
  border:1px solid #ccc;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
  margin: 20px auto;
  transition: 0.35s;
}
.des p:nth-of-type(3):hover{
  background:rgba(0,0,0,0.6);
}




/* Greeting Menu */
.greeting{
  justify-content: center;
  text-align: center;
   margin: 50px 0px;
   width: 100%;
   height: 300px;

   
}
.greeting h2{
  font-size: 38px;
  margin: 40px 20px ;
  color: #363636;
  font-weight: 520;
}
.greeting p{
  width: 1200px;
  font-size: 20px;
  display: block;
  margin: auto;
  line-height: 30px;
  color:#525252;
  font-weight: 490;
  padding-top: 2px ;
}
.greeting p:nth-child(4){margin-bottom: 20px;}
.greeting h3{
  font-weight: 400;
  padding-top: 8px ;
  color: #497da4;
}
.greeting h3:nth-child(4){margin-bottom: 50px;}


/* Greeting Menu - ★★ 3-메인비주얼 slide5 적용 ★★  */
#slideShowon {
	position: relative;
	/*부모기준설정*/
	overflow: hidden;
	width: 720px;
	height: 524px;
	margin: 0 auto;
  /* padding: 80px 0; */
  
  }

#slideShowon .slideon ul {
	display: flex;
	position: absolute;
	width: 3600px;
 	/*슬라이드가 가로방향일때만->이미지의 총가로길이(940*5)*/
}

#slideShowon .slideon ul li {
	/* float:left; */
	width: 1000px;
	height: 500px;
}

.slideon h1 {
	height: inherit;
	color: #fff;
	font-size: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*하단버튼*/

#slideShowon .slideon_btn {
	position: absolute;
	bottom: 20px;
	left: 50%;
}

#slideShowon .slideon_btn ul li {
	float: left;
	background: #000;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 7px;
	cursor: pointer;
}

#slideShowon .slideon_btn ul li.activeon {
	background: #ff6600;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

/*좌우버튼*/
.sideon_btn .preon {
	position: absolute;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
	cursor: pointer;
}

.sideon_btn .nexon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 30px;
	cursor: pointer;
}


/* ----- special------ */

.special{
   justify-content: center;
   text-align: center;
   }

.special .title{
  font-size: 20px;
  font-weight: 700;
}

.special span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #363636;
  font-weight:500;
  padding: 20px 0;
}

.special strong{
  color: #337ab7;
  font-size: 24px;
  font-weight:700;
}

.special p{
  color: #959595;
  font-size: 16px;
  font-weight: 500;
}

.lbar{
  width: 500px;
  height: 3px;
  margin-left: 100px;
  background: #337ab7;
}

.rbar{
  width: 500px;
  height: 3px;
  margin-right: 100px;
  background: #337ab7;
  margin-bottom: 100px;
}


/* ----- media------ */

.media{
  width: 100%;
  height: 500px;
  background: #174d7c;
  padding: 100px 0;
}
.media p{
  color: #fff;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  
}



