@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: montserrat;
}

header{
  width: 100%;
  height: 135px;
  /* background-color: #2b2f3a; */
  position: relative;
  z-index: 300; /* 메뉴가 맨위로 올라오게 함 */
}

nav{
  width: 1200px;
  height: inherit;
  margin: auto;
  justify-content: center;
  text-align: center;
  /* border: 1px solid red; */
}

.inner {
  width: 1500px;
  margin: 0 auto;
}


/* Main Menu*/
nav h1{
  font-size: 35px;
  font-weight: bold;
  color: #212121;
  line-height:80px;
  /* border: 1px solid purple; */
  
}
.gnb{
  display: flex;
  /* border: 1px solid yellow; */
}

.gnb>.main{
  width: 150px;
  text-align: center;
  /* border: 1px solid blue; */
}

.gnb>.main>a{
  position: relative;
  display: block;
  width: inherit;
  height: 50px;
  color: #363636;
  font-size: 20px;
  font-weight: 450;
  line-height: 50px;
  border-bottom: 1px solid #cacaca;
    /* border: 1px solid purple; */
}

.gnb>.main:hover>a{color: #337ab7;}

/* Sub Menu */
.sub{
  display: none;
  position: absolute;
  top: 100%;
  z-index: 200;
  padding-top: 10px;
  width: 150px;
  height: 220px;
}
.sub li{
  width: inherit;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.35s;
}
.sub li a{
  color: #666;
  font-size: 14px;
   
}
.sub li:hover a{
  color: #000;
  font-weight: 600;
}

.sub_bgbox{ 
  display:none;
  position: absolute;
  top: 100%;
  left: 0;
	width:100%;
	height:230px; 
	background: #e0e0e0;
}

/* Greeting Menu */
.greeting{
  justify-content: center;
  text-align: center;
   padding: 50px 0px;
   width: 100%;
   height: 500px;
   
}
.greeting h2{
  font-size: 38px;
  margin: 40px 20px ;
  color: #363636;
  font-weight: 520;
}
.greeting p{
  width: 1200px;
  font-size: 20px;
  display: block;
  margin: auto;
  line-height: 30px;
  color:#525252;
  font-weight: 490;
  padding-top: 2px ;
}
.greeting p:nth-child(4){margin-bottom: 20px;}
.greeting h3{
  font-weight: 400;
  padding-top: 8px ;
  color: #497da4;
}
.greeting h3:nth-child(4){margin-bottom: 50px;}


/* 제이쿼리 슬라이드1을 적용  */
#slideShow{
  position: relative;
  overflow: hidden;
  width: 1440px;
  height: 500px;
  margin: auto;
}